################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/obj/Debug/NZPostOffice.RDSAdmin.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/obj/Debug/NZPostOffice.ODPS.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/obj/Debug/NZPostOffice.RDS.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/NZPostOffice.RDSAdmin.csproj
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/NZPostOffice.ODPS.csproj
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/NZPostOffice.RDS.csproj
*.sqlproj
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/.vs/NZPostOffice/v17/.suo
