################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/obj/Debug/NZPostOffice.RDSAdmin.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/obj/Debug/NZPostOffice.ODPS.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/obj/Debug/NZPostOffice.RDS.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/.vs/NZPostOffice/v17/.suo
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.DataControls/bin/Debug/NZPostOffice.ODPS.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.DataControls/bin/Debug/NZPostOffice.Shared.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/bin/Debug/NZPost.RDSAdmin.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/bin/Debug/NZPostOffice.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/bin/Debug/NZPostOffice.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/bin/Debug/NZPostOffice.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/bin/Debug/NZPostOffice.RDSAdmin.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/bin/Debug/NZPostOffice.RDSAdmin.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/bin/Debug/NZPostOffice.RDSAdmin.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/bin/Debug/NZPostOffice.Shared.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/obj/Debug/NZPost.RDSAdmin.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/obj/Release/NZPostOffice.RDSAdmin.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPost.RDSAdmin/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.DataControls/bin/Debug/NZPostOffice.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.DataControls/bin/Debug/NZPostOffice.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.DataControls/obj/Release/NZPostOffice.DataControls.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.DataControls/obj/Debug/NZPostOffice.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.DataControls/obj/Debug/NZPostOffice.DataControls.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.DataService/obj/Debug/NZPostOffice.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.DataService/bin/Debug/NZPostOffice.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.Entity/obj/Debug/NZPostOffice.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.Entity/bin/Debug/NZPostOffice.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/bin/Debug/NZPostOffice.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/bin/Debug/NZPostOffice.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/bin/Debug/NZPostOffice.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/bin/Debug/NZPostOffice.ODPS.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/bin/Debug/NZPostOffice.ODPS.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/bin/Debug/NZPostOffice.Shared.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/bin/Debug/NZPostOffice.ODPS.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/bin/Debug/NZPostOffice.ODPS.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/obj/Release/NZPostOffice.ODPS.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS/obj/Debug/NZPostOffice.ODPS.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.DataControls/bin/Debug/NZPostOffice.ODPS.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.DataControls/bin/Debug/NZPostOffice.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.DataControls/bin/Debug/NZPostOffice.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.DataControls/bin/Debug/NZPostOffice.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.DataControls/obj/Release/NZPostOffice.ODPS.DataControls.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.DataControls/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.DataControls/obj/Debug/NZPostOffice.ODPS.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.DataControls/obj/Debug/NZPostOffice.ODPS.DataControls.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.DataService/obj/Debug/NZPostOffice.ODPS.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.DataService/bin/Debug/NZPostOffice.ODPS.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.Entity/bin/Debug/NZPostOffice.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.Entity/bin/Debug/NZPostOffice.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.DataService/obj/Release/NZPostOffice.ODPS.DataService.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.Entity/obj/Release/NZPostOffice.ODPS.Entity.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/bin/Debug/NZPostOffice.RDS.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/bin/Debug/NZPostOffice.RDS.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/bin/Debug/NZPostOffice.Shared.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/bin/Debug/NZPostOffice.RDS.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/bin/Debug/NZPostOffice.RDS.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/obj/Debug/NZPostOffice.RDS.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/obj/Debug/NZPostOffice.RDS.csproj.GenerateResource.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/obj/Release/NZPostOffice.RDS.csproj.ResolveComReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS/obj/Release/NZPostOffice.RDS.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.DataControls/bin/Debug/NZPostOffice.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.DataControls/bin/Debug/NZPostOffice.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.DataControls/bin/Debug/NZPostOffice.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.DataControls/bin/Debug/NZPostOffice.Shared.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.DataControls/bin/Debug/NZPostOffice.RDS.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.DataControls/bin/Debug/NZPostOffice.RDS.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.DataControls/bin/Debug/NZPostOffice.RDS.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.DataControls/obj/Release/NZPostOffice.RDS.DataControls.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.DataControls/obj/Debug/NZPostOffice.RDS.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.DataControls/obj/Debug/NZPostOffice.RDS.DataControls.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.DataService/obj/Debug/NZPostOffice.RDS.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.DataService/bin/Debug/NZPostOffice.RDS.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.Entity/bin/Debug/NZPostOffice.RDS.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.Entity/bin/Debug/NZPostOffice.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.Entity/bin/Debug/NZPostOffice.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.Entity/bin/Debug/NZPostOffice.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.Entity/obj/Debug/NZPostOffice.RDS.Entity.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.Entity/bin/Debug/NZPostOffice.Shared.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.Entity/bin/Debug/NZPostOffice.RDS.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.DataControls/bin/Debug/NZPostOffice.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.Entity/obj/Release/NZPostOffice.RDS.Entity.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDS.Entity/obj/Debug/NZPostOffice.RDS.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.DataControls/bin/Debug/NZPostOffice.RDSAdmin.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.DataControls/bin/Debug/NZPostOffice.RDSAdmin.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.DataControls/bin/Debug/NZPostOffice.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.DataControls/bin/Debug/NZPostOffice.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.DataControls/obj/Debug/NZPostOffice.RDSAdmin.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.DataControls/obj/Debug/NZPostOffice.RDSAdmin.DataControls.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.DataControls/bin/Debug/NZPostOffice.Shared.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.DataService/bin/Debug/NZPostOffice.RDSAdmin.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.DataControls/obj/Release/NZPostOffice.RDSAdmin.DataControls.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.Entity/bin/Debug/NZPostOffice.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.DataService/obj/Release/NZPostOffice.RDSAdmin.DataService.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.DataService/obj/Debug/NZPostOffice.RDSAdmin.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.Entity/obj/Release/NZPostOffice.RDSAdmin.Entity.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.Entity/obj/Debug/NZPostOffice.RDSAdmin.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.Entity/obj/Debug/NZPostOffice.RDSAdmin.Entity.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.RDSAdmin.Entity/bin/Debug/NZPostOffice.RDSAdmin.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.Shared/bin/Debug/NZPostOffice.Shared.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.Shared/bin/Debug/NZPostOffice.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.Shared/bin/Debug/NZPostOffice.DataService.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.Shared/bin/Debug/NZPostOffice.DataControls.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.Shared/obj/Release/NZPostOffice.Shared.csproj.AssemblyReference.cache
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.Shared/obj/Debug/NZPostOffice.Shared.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.Shared/obj/Debug/NZPostOffice.Shared.csproj.AssemblyReference.cache
/dontignore - Copy.gitignore
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.Entity/obj/Debug/NZPostOffice.ODPS.Entity.pdb
/NZPost/RuralPost/C#/RuralDeliverySystems/NZPostOffice/ZZ/Work/rds_net/NZPostOffice/NZPostOffice.ODPS.Entity/obj/Debug/NZPostOffice.ODPS.Entity.csproj.AssemblyReference.cache
