<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="ApplicationServicePrefix" value="http://localhost/RDSAdminSecurityService" />-->
    <add key="Version" value="7.1.3.0"/>
    <add key="BuildDate" value="*Under development*"/>
    <add key="BuildDate" value="23-Jul-2010 at 11:45"/>
    <!-- <add key="DefaultUserName" value="sysadmin"/> -->
    <add key="DefaultUserName" value=""/>
    <add key="DefaultLoginId" value="rd"/>
    <!-- <add key="DefaultLoginPassword" value="sql"/> -->
    <add key="DefaultLoginPassword" value="sqlbabbage"/>
    <!-- <add key="Service Provider" value="WebService"/>
    <add key="Service URL" value="http://localhost/RDSWebService/WebServiceHost.asmx"/>-->
  </appSettings>
  <connectionStrings>
    <add name="NZPO" connectionString="Database=RDSPROD;Connection Lifetime=600;Integrated Security=False;Max Pool Size=20;Min Pool Size=1;Server=WDCNTSQLRDS01;uid=rd;pwd=sqlbabbage;"
         providerName="System.Data.SqlClient" />
    <!-- <add name="NZPO" connectionString="Database=RDSuat;Connection Lifetime=600;Integrated Security=False;Max Pool Size=20;Min Pool Size=1;Server=wlg-postsql01;uid=rd;pwd=sql;"
         providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
</configuration>
