<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
	  <!-- <add key="ApplicationServicePrefix" value="http://localhost/RDSAdminSecurityService" />-->
	  <add key="Version" value="7.1.12.1"/>
	  <!-- <add key="BuildDate" value="*Under development*"/> -->
	  <add key="BuildDate" value="7-Apr-2014 12:45"/>
	  <add key="DefaultUserName" value=""/>
	  <!-- <add key="DefaultUserName" value="sysadmin"/> -->
	  <add key="DefaultLoginId" value="rd"/>
	  <add key="DefaultLoginPassword" value="sqlbabbage"/>
	  <!-- <add key="DefaultLoginPassword" value="sql"/> -->
	  <!-- <add key="Service Provider" value="WebService"/> -->
	  <!-- <add key="Service URL" value="http://localhost/RDSWebService/WebServiceHost.asmx"/> -->
  </appSettings>
  <connectionStrings>
	  <add name="NZPO" connectionString="Database=RDSPROD;Server=WDCNTSQLRDS01;uid=rd;pwd=sqlbabbage;Connection Lifetime=600;Integrated Security=False;Max Pool Size=20;Min Pool Size=1;"
                 providerName="System.Data.SqlClient" />
	  <!-- <add name="NZPO" connectionString="Database=RDStest;Server=wlg-postsql01;uid=rd;pwd=sql;Connection Lifetime=600;Integrated Security=False;Max Pool Size=20;Min Pool Size=1;"
                 providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
</configuration>
