<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
	  <!-- <add key="ApplicationServicePrefix" value="http://localhost/RDSAdminSecurityService" />-->
	  <add key="Version" value=" 7.1.17.11 "/>
	  <add key="BuildDate" value=" 4-Apr-2022 "/>
	  <add key="AppName" value="Rural Delivery Syatem Admin"/>
	  <add key="Company" value= "New Zealand Post"/>
	  <add key="CopyRight" value="Copyright@2022 .NZ Post"/>
    <!-- <add key="DefaultUserName" value=""/> -->
	  <add key="DefaultUserName" value="sysadmin"/>
	  <add key="DefaultLoginId" value="rd"/>
    <!-- <add key="DefaultLoginPassword" value="sqlbabbage"/> -->
	  <add key="DefaultLoginPassword" value="sql"/>
  </appSettings>
  <connectionStrings>
    <!-- <add name="NZPO" connectionString="Database=RDSPROD;Server=WDCNTSQLRDS01;uid=rd;pwd=sqlbabbage;Connection Lifetime=600;Integrated Security=False;Max Pool Size=20;Min Pool Size=1;"
           providerName="System.Data.SqlClient" /> -->
	  <add name="NZPO" connectionString="Database=RDStest;Server=wlg-rds-sql01;uid=rd;pwd=sql;Connection Lifetime=600;Integrated Security=False;Max Pool Size=20;Min Pool Size=1;"
           providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
