<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="ApplicationServicePrefix" value="http://localhost/RDSAdminSecurityService" />-->
    <add key="Version" value="7.0.0.15"/>
    <!--add key="Application" value="6.8.13"/-->
    <add key="BuildDate" value="04/08/2008 at 12:00:00"/>
    <add key="AppName" value="Rural Delivery System with NPAD"/>
    <add key="DefaultUserName" value="sysadmin"/>
    <add key="DefaultLoginId" value="rd"/>
    <add key="DefaultLoginPassword" value="sql"/>
    <add key="Server Timeout" value="600"/>
    <!--add key="Service Provider" value="WebService"/-->
    <!--add key="Service URL" value="http://localhost/ServerSetup/WebServiceHost.asmx"/ -->
  </appSettings>
  <connectionStrings>
    <add name="NZPO" connectionString="Database=RDSUAT;Connection Lifetime=600;Integrated Security=False;Max Pool Size=20;Min Pool Size=1;Server=wlg-d036;uid=rd;pwd=sql;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
