<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="ApplicationServicePrefix" value="http://localhost/RDSAdminSecurityService" />-->
    <add key="Version" value="7.1.10.3"/>
    <!-- <add key="BuildDate" value=" *Under development* "/> -->
    <add key="BuildDate" value="3-Sep-2013 13:50"/>
    <add key="AppName" value="Rural Delivery System"/>
	<add key="DefaultUserName" value=""/>
	<!-- <add key="DefaultUserName" value="sysadmin"/> -->
    <add key="DefaultLoginId" value="rd"/>
	<add key="DefaultLoginPassword" value="sqlbabbage"/>
	<!-- <add key="DefaultLoginPassword" value="sql"/> -->
    <add key="Server Timeout" value="600"/>
    <add key="DDETopicName" value="Winword" />
    <add key="WordProcessorPath" value="C:\Program Files\Microsoft Office\Office11\WINWORD.EXE" />
    <add key="CustomerTemplate" value="C:\Program Files\Rural Post\RDSRuntime\CustomerTemplate.dot" />
    <add key="OwnerDriverTemplate" value="C:\Program Files\Rural Post\RDSRuntime\OwnerDriverTemplate.dot" />
    <add key="CustMailMergeDumpFile" value="H:\CustomerData.xls" />
    <add key="OwnerDriverMailMergeDumpFile" value="H:\ODPSData.xls" />
    <add key="IniFile" value="C:\Program Files\Rural Post\RDSRuntime\stripmaker.ini" />
    <!-- add key="Service Provider" value="WebService"/-->
    <!-- add key="Service URL" value="http://localhost/ServerSetup/WebServiceHost.asmx"/ -->
  </appSettings>
  <connectionStrings>
	<add name="NZPO" connectionString="Database=RDSPROD;Server=WDCNTSQLRDS01;uid=rd;pwd=sqlbabbage;Connection Lifetime=600;Integrated Security=False;Max Pool Size=20;Min Pool Size=1;"
         providerName="System.Data.SqlClient" />
	<!-- <add name="NZPO" connectionString="Database=RDSuat;Server=wlg-postsql01;uid=rd;pwd=sql;Connection Lifetime=600;Integrated Security=False;Max Pool Size=20;Min Pool Size=1;"
         providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
</configuration>
