<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="ApplicationServicePrefix" value="http://localhost/RDSAdminSecurityService" />-->
    <!-- <add key="Version" value="6.8.13"/> -->
    <!--add key="Application" value="1.1.8"/-->
    <add key="Version" value="7.0.0.23"/>
    <add key="BuildDate" value="28-Oct-2008 at 11:00am"/>
    <add key="AppName" value="Owner-Driver Payment System"/>
    <add key="Company" value= "Fronde Systems Group"/>
    <add key="CopyRight" value="Copyright @ 1997-2008 Fronde Systems Group"/>
    <add key="DefaultUserName" value=""/>
    <add key="DefaultLoginId" value="odps"/>
    <!-- 
    <add key="DefaultLoginPassword" value="ruralpay"/>
    -->
    <add key="DefaultLoginPassword" value="odps"/>
    <add key="DDETopicName" value="Winword" />
    <add key="WordProcessorPath" value="C:\Program Files\Microsoft Office\Office11\WINWORD.EXE" />
    <add key="CustomerTemplate" value="C:\Program Files\Rural Post\RDSRuntime\CustomerTemplate.dot" />
    <add key="OwnerDriverTemplate" value="C:\Program Files\Rural Post\RDSRuntime\OwnerDriverTemplate.dot" />
    <add key="CustMailMergeDumpFile" value="H:\CustomerData.xls" />
    <add key="OwnerDriverMailMergeDumpFile" value="H:\ODPSData.xls" />
    <add key="IniFile" value="C:\Program Files\Rural Post\RDSRuntime\stripmaker.ini" />
    <!--<add key="Service Provider" value="WebService"/>
    <add key="Service URL" value="http://localhost/RDSWebService/WebServiceHost.asmx"/>-->
  </appSettings>
  <connectionStrings>
    <!--
    <add name="NZPO" connectionString="Database=RDSPROD;Connection Lifetime=600;Integrated Security=False;Max Pool Size=20;Min Pool Size=1;Server=WDCNTSQLRDS01;uid=odps;pwd=ruralpay;"
        providerName="System.Data.SqlClient" />
     -->
    <add name="NZPO" connectionString="Database=RDSuat;Connection Lifetime=600;Integrated Security=False;Max Pool Size=20;Min Pool Size=1;server=wlg-d036;uid=odps;pwd=odps;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>