<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="ApplicationServicePrefix" value="http://localhost/RDSAdminSecurityService" />-->
    <add key="Version" value="7.1.14.1 "/>
	<add key="BuildDate" value="31-Mar-2016 at 10:30"/>
	<!-- <add key="BuildDate" value="*Under development*"/> -->
    <add key="AppName" value="Owner-Driver Payment System"/>
    <add key="Company" value= "Fronde Systems Group"/>
    <add key="CopyRight" value="Copyright@2016 Rural Post"/>
    <!-- add key="DefaultUserName" value=""/> -->
	<add key="DefaultUserName" value="sysadmin"/>
	<add key="DefaultLoginId" value="odps"/>
    <!-- <add key="DefaultLoginPassword" value="ruralpay"/> -->
    <add key="DefaultLoginPassword" value="odps"/>
	<add key="DDETopicName" value="Winword" />
    <add key="WordProcessorPath" value="C:\Program Files\Microsoft Office\Office11\WINWORD.EXE" />
    <add key="CustomerTemplate" value="C:\Program Files\Rural Post\RDSRuntime\CustomerTemplate.dot" />
    <add key="OwnerDriverTemplate" value="C:\Program Files\Rural Post\RDSRuntime\OwnerDriverTemplate.dot" />
    <add key="CustMailMergeDumpFile" value="H:\CustomerData.xls" />
    <add key="OwnerDriverMailMergeDumpFile" value="H:\ODPSData.xls" />
    <add key="IniFile" value="C:\Program Files\Rural Post\RDSRuntime\stripmaker.ini" />
    <!-- <add key="Service Provider" value="WebService"/> -->
    <!-- <add key="Service URL" value="http://localhost/RDSWebService/WebServiceHost.asmx"/> -->
  </appSettings>
  <connectionStrings>
    <!-- <add name="NZPO" connectionString="Database=RDSPROD;Server=WDCNTSQLRDS01;uid=odps;pwd=ruralpay;Connection Lifetime=600;Integrated Security=False;Max Pool Size=20;Min Pool Size=1;"
         providerName="System.Data.SqlClient" /> -->
    <add name="NZPO" connectionString="Database=RDStest;Server=wlg-postsql01;uid=odps;pwd=odps;Connection Lifetime=600;Integrated Security=False;Max Pool Size=20;Min Pool Size=1;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>